# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.code-workspace

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Generated input/output
*.json
*.csv
